.highscores-content-row {
  display: flex;
  flex-direction: row;
  width: 280px;
  font-size: 12pt;
  color: #fff;
  text-align: center;
}

.highscores-content-row-headers {
  border-bottom: 1px solid;
  font-weight: bold;
}

.column_1 {
  width: 5%;
}

.column_2 {
  width: 40%;
}

.column_3   {
  width: 40%;
}

.column_4 {
  width: 15%;
}