.row {
  display: flex;
  flex-direction: row;
  width: 280px;
  /* border: 1px solid #000; */
  font-size: 16pt;
  color: #fff;
}

.column_1 {
  width: 20px;
}

.column_2 {
  
}

.column_3 {
  
}

.column_4 {
  
}