.small-text {
  font-size: 30pt;
}

.content {
  text-align: center;
  color: #FFF;
  font-size: 1.5em;
}

.heading {
  font-size: 24pt;
  margin: 0.2em;
}

.underline {
  text-decoration: underline;
}

.big {
  font-size: 36pt;
  font-weight: bold;
  margin: 0.2em;
}

.green {
  color: #13c913;
}

.red {
  color: #FF0000
}

.btnFooter {
  width: 320px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}
