.playerName {
  margin: auto;
  display: block;
  font-size: 26pt;
  border: none;
  border-radius: 10px;
  background: rgb(68, 90, 120, .5);
  width: 80%;
  text-align: center;
  color: #FFF;
}

.playerName:focus {
  outline: none;
}